<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
    <h2 class="text-center mb-4">アカウント作成</h2>

    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :name, "名前", class: "form-label" %><br />
        <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name" %>
      </div>

      <div class="mb-3">
        <%= f.label :email, "メールアドレス", class: "form-label" %><br />
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, "パスワード", class: "form-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, "パスワード再確認", class: "form-label" %><br />
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
      </div>

      <div class="d-grid mb-3">
        <%= f.submit "登録", class: "btn btn-secondary btn-block" %>
      </div>
    <% end %>

    <div class="text-center">
      登録がお済みの方は<%= render "devise/shared/links" %>
    </div>
  </div>
</div>