<% current_mode = params[:mode] || (params[:effect].present? ? "credit" : nil) %>

<div class="mobile-header">
  <button class="hamburger-menu d-md-none" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-th-list"></i>
  </label>
</div>

<div class="sidebar-overlay" id="sidebar-overlay"></div>

<div class="sidebar collapse d-md-block" id="sidebarCollapse">
  <div class="sidebar-header">
    <% if current_mode == "friends" %>
      <div class="sidebar-title-row">
        <span class="sidebar-title"><i class="fas fa-user"></i> 友人</span>
        <%= link_to home_path(mode: "friends", submode: "search"), class: "add-icon" do %>
          <i class="fas fa-plus-circle"></i>
        <% end %>
      </div>
    <% elsif current_mode == "group" %>
      <div class="sidebar-title-row">
        <span class="sidebar-title"><i class="fas fa-users"></i> グループ</span>
        <div class="add-icon">
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
    <% elsif current_mode == "setting" %>
      <span class="sidebar-title"><i class="fas fa-cog"></i> ユーザー設定</span>
    <% elsif current_mode == "credit" %>
      <span class="sidebar-title"><i class="fas fa-info-circle"></i> CREDIT</span>
    <% end %>
  </div>

  <div class="sidebar-content">
    <% if current_mode == "friends" %>
      <%= render partial: "friendships/index", locals: { friends: @friends } %>
    <% elsif current_mode == "group" %>
      <div class="coming-soon">
        <h2>Coming Soon</h2>
        <p>この機能は開発中です！</p>
      </div>
    <% elsif current_mode == "setting" %>
      <div class="logout-button text-center mt-3">
        <%= link_to "プロフィール編集", home_path(mode: "setting", submode: "edit"), class: "user-profile-btn" %>
        <div class="sidebar-footer">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
        </div>
      </div>
    <% elsif current_mode == "credit" %>
      <%= render "layouts/credits/index" %>
    <% end %>
  </div>
</div>